<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lätkäveikkaus</title>
    
</head>
<header><h1>LÄTKÄVEIKKAUS</h1></header>
<body>
    <h3>LISÄÄ PELAAJAN TIEDOT</h3>
    <form action="/lisaa" method="POST">

        <input  type="text" placeholder="Etunimi" name="etunimi"><br> 
        <input  type="text" placeholder="Sukunimi"name="sukunimi"> <br><button id="lisää" >Lisää</button></form>

    <table>
        <tr>             
            <th>ID</th>
             <th>Etunimi</th>
             <th>Sukunimi</th></tr>
             <tr>
                <%data.forEach(taulukko =>{%>
                <td><%=taulukko.pelaajaID%></td>
                <td><%= taulukko.etunimi %> </td>
                <td><%=taulukko.sukunimi%></td></tr>
                <%})%>
                </table>
</body>

</html>